body {
  margin:0;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  background-color: #ffffff;
  width: 1100px;
}

.header {
  display: flex;
  width: 1100px;
  padding: 92px 50px 90px 50px;
  align-items: center;
  justify-content:start;
}

.header__menu {
  margin-left: 0;
}

.header__links-list {
  display: flex;
  padding: 0;
  list-style:circle;
  gap:30px;
  letter-spacing: 0.02em;
}

.header__links-list-item:first-child {
  list-style:none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.header__link:not(.header__link_active) {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.header__logo {
  display: block;
  padding: 0;
  margin: 0 192px 0 40px;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

.address a {
  text-decoration: none;
}

.address_line-one {
  letter-spacing: 0;
  border-bottom: 1px solid #000000;
}

.address_line-two {
  letter-spacing: 0;
  border-bottom: 1px solid #000000;
}

.cover {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 51px 50px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  width: 1100px;
  margin: 0;
}

.overlay {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
  z-index: 0;
}

.cover__title {
  letter-spacing: 0.3em;
  margin-bottom: 122px;
  font-weight: bold;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 2;
  line-height: 1.23;
}

.aligned-text {
    position: relative;
    display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing-extended {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  z-index: 2;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.3;
  color: #ffffff;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  font-family: Raleway, sans-serif;
  text-decoration:none;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  padding: 0;
  gap:26px;
  letter-spacing: 0.02em;
  margin-top: 26px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-basis: 330px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  position: relative;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 51px 30px 48px 40px;
  margin: 0;
  letter-spacing: 0px;
}

.card__title {
  font-size: 22px;
  line-height: 1.18;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  color: #ffffff;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  color: #000000;
  text-transform: lowercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  margin: 28px 0px 0px 40px;
}

.about {
  margin-top: 147px;
  padding:  31px 24px 0px 26px;
  display: grid;
  grid-template-columns: 330px auto;
  gap: 28px;
  justify-content:space-between;
}

.about__column {
  margin: 0;
  justify-self: center;
}

.about__column:first-child {
  justify-self: center;
}

.about__column:nth-child(2) {
  margin-top: 101px;
  align-self:flex-end;
}

.about__logo {
  display: block;
  background-image: url("../images/circle.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 67px 48px 64px 46px;
  width: 240px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-top: 6px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

.about__column p:first-of-type {
  margin-top: 99px;
}

.about__column p:nth-of-type(2) {
  margin-top: 22px;
}

.footer {
  display: flex;
  width: 1100px;
  padding: 3px 50px 88px 50px;
  justify-content:space-between;
  margin-top: 180px;
}

.footer__menu {
  margin-left: 0;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style:none;
  letter-spacing: 0.02em;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  padding: 0px 0px 0px 33px;
}

.footer__menu-link:not(.footer__menu-link_active) {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.footer__social-list {
  display: flex;
  gap: 0 48px;
  padding: 0;
  list-style:none;
  letter-spacing: 0.02em;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}